
    <app-navbar></app-navbar>
<img src="assets/images/img1.jpg" alt="" height="90%" width="100%">
  <div class="text">Education is key to success</div>
  <footer>
    <div class="footer-content">
  <h3>ABC School</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni asperiores molestiae sit eius neque sequi modi ad eaque dolorum hic, nostrum eligendi quisquam omnis adipisci molestias vel natus nobis maxime!</p>
    <ul class="socials">
        <li><a href=""><i class="fa fa-facebook"></i></a></li>
        <li><a href=""><i class="fa fa-twitter"></i></a></li>
        <li><a href=""><i class="fa fa-youtube"></i></a></li>
        <li><a href=""><i class="fa fa-whatsapp"></i></a></li>
        
    </ul>
</div>
  </footer>
  

  

