 <div class="side-menu">
        <div class="brand-name">
            <h1>Admin</h1>
        </div>
        <ul>
            <li><img src="" alt="">&nbsp;<a routerLink="/admin/dashboard"><span>Dashboard</span> </a></li>
            <li><img src="" alt="">&nbsp;<a routerLink="/admin/dashboard/teachers"><span>Teachers</span></a></li>
            <li><img src="" alt="">&nbsp;<a routerLink="/admin/dashboard/students"><span>Students</span></a></li>
            <li><img src="" alt="">&nbsp;<a routerLink="/admin/dashboard/attendance"><span>Attendance</span></a></li>
            <li><img src="" alt="">&nbsp;<a routerLink="/admin/dashboard/admin-notice"><span>Notice</span></a></li>
        </ul>
    </div>
    <div class="container">
        <div class="header">
            <div class="nav">
                <div class="user">
                    <h1>ABC School</h1>
                    <button class="btn"><a [routerLink]="">Logout</a></button>
                </div>
                
            </div>
        </div>
        </div>
        <router-outlet></router-outlet>
       
           
                        
                       
                        
                          

