<div class="container">
    <div class="content">
        <div class="heading">
            <h1>Attendance</h1>
            <h3>Class:Plus One</h3>
        </div><br>
        <label for="">Select</label><br>
        <input type="date">
        <div class="table">
            <table>
                <tr>
                    <th>Date</th>

                    <th>Reg No</th>
                    <th>Name</th>
                    <th>Status</th>
                    
                </tr>
                <tr>
                    <th>12-11-2022</th>

                    <th>0001</th>
                    <th>Arya</th>
                    <th>Present</th>
                    
                </tr>
                <tr>
                    <th>12-11-2022</th>

                    <th>0002</th>
                    <th>Aswini</th>
                    <th>Absent</th>
                    
                </tr>
            </table>
        </div>
    </div>
</div>