
<div class="container">
    <div class="content">
        <div class="heading">
        <h1>Attendance</h1>
    </div>
    <div class="content-2">
        <div class="new-students">
             
            <table>
                <tr>
                    <th>Class</th>
                    <th>View Attendance</th>
                    
                </tr>
                <tr>
                 
                    <td>Plus One</td>
                    <td><a href="" class="btn">View</a></td>
                </tr>
                <tr>
                 
                    <td>Plus Two</td>
                    <td><a [routerLink]="'/attendance/view-attendance'" class="btn">View</a></td>
                </tr>
               
               
              
            </table>
        </div>
     
          
    </div>
    </div>
    </div>

