.container{
    position: absolute;
    right: 10%;
    width: 58vw;
   /* height: auto; */
    
    /* background: white; */
    margin-top: 5%;
    /* background: green; */
}
.container .content {
    position: relative;
    margin-top: 10vh;
    /* min-height: 90vh; */
    /* background: #f1f1f1; */
}
.heading{
    background: #f05462;
    color: white;
    text-align: center;
}
.div1{
    height: 150px;
    width: 56vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    
    
}
.btn {
    background: #f05462;
    color: white;
    padding: 5px 10px;
    text-align: center;
}
.btn:hover {
    color: #f05462;
    background: white;
    padding: 3px 8px;
    border: 2px solid #f05462;
}

table {
    padding: 10px;
    border-collapse: separate;
    border-spacing: 70px 0;
}
th,
td {
    text-align: left;
    padding: 10px 0;
}
