<div class="contain">
    <div class="content">
        <div class="heading">
            <h1>Leave Request</h1>
        </div>
        <div class="content-2">
            <label for="">Number of Days:</label>
            <input type="radio" value="Leave for single day">Leave for single Day
            <input type="radio" value="Leave for multiple day">Leave for Multiple Days 
            <label for="">Leave Date:</label>
            <input type="date" name="" id="">
            <label for="">Reason:</label>
            <input type="text" name="" id="input1">
            <a href="" class="btn">Submit Leave Request</a>

        </div>
        <h3>Recent Leave Requests</h3>
        <table>
            <thead>
                <tr>
                    <th>Reason</th>
                    <th>Leave Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Fever</td>
                    <td>05-09-2022</td>
                    <td>Approved</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td>Marriage</td>
                    <td>05-07-2022</td>
                    <td>Declined</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
