<div class="side-menu">
    <div class="brand-name">
        <h1>Teacher</h1>
    </div>
    <ul>
        <li><img src="" alt="">&nbsp;<a [routerLink]=""> Dashboard</a></li>
        <li><img src="" alt="">&nbsp;<a [routerLink]="">Teachers</a></li>
        <li><img src="" alt="">&nbsp;<a [routerLink]="">Students</a></li>
        <li><img src="" alt="">&nbsp;<a [routerLink]="">Attendance</a></li>
        <li><img src="" alt="">&nbsp;<a [routerLink]="">Notice</a></li>
    </ul>
</div>
<div class="container">
    <div class="header">
        <div class="nav">
            <div class="user">
                <h1>ABC School</h1>
                <button class="btn"><a [routerLink]="">Logout</a></button>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>

