<app-navbar></app-navbar>
<table>
    <tr>
 <th> Contact Us</th>
    </tr>
    <tr>
    <td><img src="/assets/images/location.png" alt="" width="50"></td>
    <td>ABC SCHOOL <br>

        KOZHIKODE <br>
        KERALA</td>
    
    </tr>
    <tr>
    <td><img src="/assets/images/phone.webp" alt="" width="45"></td>
    <td>0495 2233565 <br>
        9976546780</td>
    </tr>
    <tr>
        <td>
            <img src="/assets/images/561188.png" alt="" width="50"></td>
  
        <td>abcschool@gmail.com</td>
    </tr>
</table>
