<nav class="nav-container navbar-expand-lg navbar-light" style="background-color:#f05462 ;">
    
    <ul class="right-side">
        <li><a class="navbar-brand" >ABC SCHOOL</a></li>
        <li><a [routerLink]="'/home'" class="nav-link">Home</a></li>
        <li><a [routerLink]="'/student/student-login'" class="nav-link">Student</a></li>
        <li><a [routerLink]="'/teacher'" class="nav-link">Teacher</a></li>
    </ul>
    <ul class="left-side">
        <li><a [routerLink]="'/contact'" class="nav-link">Contact Us</a></li>
    </ul>
    </nav>
